@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* Content general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --brand-green: hsl(170, 100%, 26%);
    --brand-green-light: hsl(148, 23%, 89%);
    --brand-green-light-02: hsl(180, 14%, 97%);
    --brand-beige: hsl(39, 100%, 97%);



    --background-color: hsl(148, 23%, 89%);

    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --white: #ffffff;


    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;

}

body {
    font-family: 'DM-Sans', sans-serif;
    font-size: 1.6rem;

    text-align: center;

    overflow: overlay;

    background: var(--brand-green-light-02);
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;

    padding-inline: 2.4rem;
}
img{
    max-width: 100%;
}
ul {
    list-style: none;
}

section {
    padding-block: 10rem;
}

section header h4 {
    font-size: 1.4rem;
    color: var(--brand-green);
    margin-bottom: 1.6rem
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    margin-bottom: 2.4rem;
}

section .content p {
    color: var(--paragraph);
}

/* Navigation */
#navigation {
    display: flex;

    height: var(--nav-height);
    width: 100vw;

    position: fixed;
    top: 0;

    z-index: 999;
}

#navigation .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation.scroll {
    background: var(--brand-green);
}

#navigation.scroll .logo path {
    fill: white;
}

#navigation.scroll button path {
    stroke: white;
}


nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* home */
#home {
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
    content: '';
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background: var(--background-color);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;


}


#home p {
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

#home button {
    background: var(--brand-green);
    border: none;
    height: 6.2rem;
    width: 26.3rem;
    border-radius: 4rem;
    margin-bottom: 6.2rem;


    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}

#home img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;

    object-fit: 0 2rem;
}

#home .stats {
    width: 32.7rem;
    padding-block: 4rem;


    margin-left: auto;
    margin-right: auto;
    border-radius: .6rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    background: var(--brand-beige);
    border: 1px solid var(--brand-green-light);
}

#home .stat h3 {
    font-size: 4.8rem;
    line-height: 130%;
    color: var(--headline);

    margin-bottom: .4rem;

}

#home .stat p {
    font-size: 1.6rem;
    font-weight: 400;

    margin-bottom: 0;

    color: var(--brand-green);
}

/* menu expanded */
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded> :not(nav) {
    visibility: hidden;

}

.menu {
    transform: translate(100%, -100%);
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: var(--brand-green);

    padding-top: var(--nav-height);

    transition: animation 300ms;
    animation: open-top-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes open-top-right {
    0% {
        transform: scale(.5s);
        transform-origin: 100% 0%;
        border-radius: 0 0 0 1000rem;
    }

    100% {
        transform: scale(1);
        transform-origin: 100% 0%;
    }
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: var(--white);
    text-decoration: none;
}



.menu .button {
    background: var(--white);
    border-radius: 4rem;
    color: var(--brand-green);
    text-decoration: none;

    padding: 1.6rem 3.2rem;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;

    display: inline-block;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3.2rem;
}


body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 10;
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded button path {
    stroke: white;
}

/* Services */

#services header h4 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--brand-green);
    letter-spacing: 0.08rem;
    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

#services header h2 {
    margin-inline: 3rem;
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;
    border-radius: .6rem;
    background: var(--white);
    border: 1px solid var(--brand-green-light);
}

#services .card h3 {
    margin-block: 1.6rem;
}

#services .card p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

/* About */
#about {
    background: var(--brand-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    text-align: left;

    margin-top: 2.4rem;
    margin-bottom: 6rem;
}

#about .content img {
    
}